.unitconverter{
    position: absolute;
width: 1120px;
height: 80px;
left: calc(50% - 1120px/2);
top: 0px;

background: #92B089;
box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
border-radius: 0px 0px 23px 23px;
}

.mhead{
    /* UnitConverter */
position: absolute;
width: 279px;
height: 48px;
left: calc(50% - 279px/2 + 0.5px);
top: -23px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #EEF0EC;
}

.category{
 display: flex;
flex-direction: column;
 align-items: flex-start; 
 /* padding: 16px 32px; */
 padding-top: 15rem;
 padding-left: 8rem;
gap: 18px; 
/*
 width: 266px; 
 top: 80rem;
 height: 268px;  */
}

.cts{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 32px;
    gap: 8px;
    
    
    width: 251px;
    height: 68px;
    left: 80px;
top: 16px;
background: #92B089;
box-shadow: 5px 4px 41px rgba(0, 0, 0, 0.2);
border-radius: 8px;
}

.cname{
    width: 102px;
height: 36px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;

color: #FFFFFF;

}

.cts:hover{
    background:#A7C59E;
}
.cts::after{
    background: #5A7259;
}
.cts::before{
    background: #92B089;
}

.cbox{
    position: absolute;
width: 1080px;
height: 688px;
left: 600px; 
top: 160px;

background: #DCF4C4;
box-shadow: 2px 4px 69px rgba(0, 0, 0, 0.3);
border-radius: 100px 100px 100px 100px;
}
.cons{
    display: flex;
    justify-content:center;
/* align-items:; */
padding-top: 40px;
color:#4e6846;
font-size: 60px;
border-bottom: 2px solid #4e6846;
border-radius: 3px;
}
.cons2{
    display: flex;
    justify-content:center;
align-items:center;
/* width:200px;
height: 200px; */
padding-top: 70px;
gap: 18px;

}
.cons1{
    display: flex;
    justify-content:center;
align-items:center;
padding-top: 62px;
margin-top: 4px;
gap:60px;
}

.arrow{
    size: 20px;
}

#linput-type,#lresult-type,#tinput-type,#tresult-type,#minput-type,#mresult-type,#tiinput-type,#tiresult-type,#ainput-type,#aresult-type{
    width: 24%;
	border: 1px solid #1293de;
	background: #ffffff;
	font-size: 24px;
	padding: 14px 10px;
	font-weight: bold;
}
#linput,#lresult,#tinput,#tresult,#tiinput,#tiresult,#minput,#mresult,#ainput,#aresult{
    width: 44%;
    color: #000000;
	border: 1px solid #1293de;
	background: #ffffff;
	font-size: 25px;
	padding: 14px 10px;
	font-weight: bold;
	margin-bottom: 16px;
}

.textab{
    margin-left: 79px;
  width: 80%;
  /* padding-left: 03px; */
  padding-top: 80px;

}

h2{
    /* font-size: 35px;
    color: #EEF0EC; */
    color: #47672f;
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;
}
h3{
    color: #47672f;
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;
} 
.tx{
    color: #47672f;
    font-family: 'Inter';
font-style: normal;
font-weight: 450;
font-size: 20px;
line-height: 36px;
}



.footer{
    position: absolute;
width: 270px;
height: 12px;
left: 827px; 
bottom: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #92B089;
}